mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
mat-card {
  background-color: black;
   opacity: 0.9;
  font-family: 'Times New Roman', Times, serif;
}
.story {
    font-family: 'Times New Roman', Times, serif;
    color: #00ff7f;
    font-weight: bold;
}