<div class="regForm">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <P class="regTitle">Register To Join The World Of Stories </P>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="name" ngModel type="name" placeholder="Name" #nameInput="ngModel" required>
        <mat-error *ngIf="nameInput.invalid">Please enter a name </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email(For Eg:abc@xyz.com)</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required
          minlength="6">
        <mat-error *ngIf="passwordInput.invalid">Password should be minimun of 6 characters.</mat-error>
      </mat-form-field>
      <label id="example-radio-group-label">Select role:</label>
      <br>
      <mat-radio-group name="role" ngModel required #roleInput="ngModel"><br>
        <mat-radio-button value="admin" class="radioButton"><span class="radioName">admin</span></mat-radio-button><br>
        <mat-radio-button value="reader" class="radioButton"><span class="radioName">reader</span></mat-radio-button>
        <br>
        <mat-radio-button value="writer" class="radioButton"><span class="radioName">writer</span></mat-radio-button>
        <br>
      </mat-radio-group>
      <br>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
    </form>
  </mat-card>
</div>